@import url(./uiFrame.css);
@import url(./modules/module1/modQuizz.css);

body 
{
    background-color: #e8e8eb;
    counter-reset: section;
}



.section
{
    min-height: 95dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-small
{
    max-width: 450px;
}

.title
{
    margin-bottom: 3vh;
}

.title:before 
{
    counter-increment: section;
    content: counter(section) ". ";
    opacity: .6;
    font-weight: 400;
    margin-right: 7px;
}

#error-modal
{
    position: fixed;
    inset: 0;
    background: #2067B2;
    color: #fff;
    padding: 10%;
}

#error-modal svg 
{
    height: 25vh;
    width: auto;
    margin-bottom: 9vh;
}
#error-modal p 
{
    font-size: 1.6rem;
}

#error-modal p + p
{
    margin-top: 40px;
    text-align: center;
}

.start-loader
{
    inset: 0;
    background: #e6e6e6;
    color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader 
{
    border: 4px solid rgba(0, 0, 0, .15);
    border-radius: 50%;
    border-left-color: transparent;
    width: 56px;
    height: 56px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}