@import url(./uiFrame.css);
@import url(./modules/module1/modQuizz.css);

body 
{
    background-color: #e8e8eb;
    counter-reset: section;
}

.section
{
    min-height: 95dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

.container-small
{
    max-width: 450px;
}

.title
{
    margin-bottom: 35px;
}

.title:before 
{
    counter-increment: section;
    content: counter(section) ". ";
    opacity: .6;
    font-weight: 400;
    margin-right: 7px;
}

.ar1-1
{
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

#gridSection .grid
{
    margin-bottom: 25px;    
}

#error-modal
{
    position: fixed;
    inset: 0;
    background: #2067B2;
    color: #fff;
    padding: 10%;
}

#error-modal svg 
{
    height: 25vh;
    width: auto;
    margin-bottom: 9vh;
}
#error-modal p 
{
    font-size: 1.6rem;
}

#error-modal p + p
{
    margin-top: 40px;
    text-align: center;
}

#movieList .small
{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-bottom: 10px;
}

.start-loader
{
    inset: 0;
    background: #e6e6e6;
    color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkSection
{
    background-color: #d8d8de;
}

.btn.loading
{
    cursor: not-allowed;
    pointer-events: none;
}

.btn.loading:after 
{
    content: url('data:image/svg+xml; utf8, <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.63158 0.781473C6.63158 0.356583 6.27391 0.0147095 5.85466 0.0837116C2.53351 0.630323 0 3.51453 0 6.99047C0 10.8565 3.13401 13.9905 7 13.9905C10.4759 13.9905 13.3601 11.457 13.9068 8.13581C13.9758 7.71656 13.6339 7.35889 13.209 7.35889V7.35889C12.8181 7.35889 12.4996 7.66405 12.4253 8.04779C11.9319 10.5941 9.6905 12.5168 7 12.5168C3.9479 12.5168 1.47368 10.0426 1.47368 6.99047C1.47368 4.29997 3.39636 2.05854 5.94268 1.56519C6.32643 1.49084 6.63158 1.17235 6.63158 0.781473V0.781473Z" fill="white"/></svg>');
    animation: spin 1s linear infinite;
    width: 18px;
    height: 18px;
    display: block;
    position: relative;
    top: 2px;
    left: 6px;
}

.btn-dot 
{
    border: 2px dashed #969696;
    color: inherit;
}

.btn-dot:is(:hover, :focus, :active)
{
    border-color: #c1c1c1;
    color: #666 !important;
    background-color: #f4f4f4;
}

.progress
{
    height: 7px;
    background-color: var(--lightColor);
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    /* background-color: var(--primaryColor); */
}

.progress > div 
{
    background-color: var(--primaryColor);
    width: 0;
    border-radius: inherit;
    transition: all .4s ease;
}

#video-container video
{
    position: absolute;
    inset: 0;    
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

#video-container .title 
{
    z-index: 1;
}

.grid_col_5-first-2-2
{
    grid-template-columns: repeat(5, 1fr);
}

.grid_col_5-first-2-2 > .panel:nth-child(1)
{
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
}

.grid_col_5-first-2-2 > .panel:nth-child(1) .panel-body 
{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.grid_col_5-first-2-2 > .panel:nth-last-child(1)
{
    display: none;
}

#gridSection .image
{
    height: 100%;
}

#gridSection .image img 
{
    width: 100%;
    height: 100%;
}

.grid_col_custom
{
    grid-template-columns: repeat(5, 1fr);
}

.grid_col_custom > .panel
{
    height: 300px;
}

.grid_col_custom > .panel:nth-child(2),
.grid_col_custom > .panel:nth-child(8)
{
    grid-column: span 2;
}

.grid_col_custom > .panel:nth-child(3)
{
    grid-row: span 3;
    height: auto;
}

.grid_col_custom > .panel:nth-child(5)
{
    grid-column: span 3;
}

.grid_col_custom > .panel:nth-child(6)
{
    grid-row: span 2;
    height: auto;
}

.btn-img-left img,
.btn-img-left svg
{
    margin-right: 7px;
    pointer-events: none;
}

#fileUpload .panel 
{
    width: 340px;
}

#fileUpload label 
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: block;
}

#custom-video-player
{
    margin-top: 20px;
}

.copyright 
{
    padding: 10px;
    color: #606060;
}

#login-form
{
    margin-top: 10px;
}